* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 1200px;
    background: var(--white-color);
}

@font-face {
    font-family: 'Calibri';
    src: url('/src/assets/fonts/calibri/calibri-bold.ttf') format('opentype');
}

@font-face {
    font-family: 'SF Pro';
    src: url('/src/assets/fonts/sf-pro/SF-Pro.ttf') format('opentype');
}

:root {
    --primary-font: 'SF Pro';
    --brand-font: 'Calibri';
    --primary-color: #131313;
    --secondary-color: #858484;
    --white-color: #F0F0F0;
}

.navbar {    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    z-index: 999;
    position: sticky;
    top: 0;
    background: rgba(240, 240, 240, 0.7);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(6px);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
}

.nav-container a {
    text-decoration: none;
    color: var(--primary-color);
}

.logo {
    display: flex;
}

.logo:hover {
    cursor: pointer;
}

.logo h1 {
    font-family: var(--brand-font);
    font-size: 1.6rem;

}

.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
}

.nav-menu li a:hover {
    cursor: pointer;
    background: linear-gradient(to left, #242424, var(--primary-color));
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
}

.cta-btn-container {
    display: flex;
}

#cta-btn {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(to left, #242424, var(--primary-color));
    border-radius: 100px;
    border: none;
    color: var(--white-color);
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
    transition: all 0.5s ease-in-out;
}

#cta-btn:hover {
    background: linear-gradient(to right, #242424, var(--primary-color));
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    padding: 40px;
}

.cta-container p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

.cta-container h1 {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 3rem;
}

.cta-container img {
    margin: 0 15px;
    transform: translateY(18%);
}

.cta-container img:hover {
    transform: translateY(-10%);
    transition: all 0.3s ease-in-out;
}

#yellow-shine {
    display: inline-block;
    transform: rotate(20deg);
}

#yellow-shine:hover {
    transform: rotate(-1deg);
    transition: all 0.5s ease-in-out;
}

#red-popcorn {
    display: inline-block;
    transform: rotate(-20deg);
}

#red-popcorn:hover {
    transform: rotate(1deg);
    transition: all 0.5s ease-in-out;
}

#blue-film {
    display: inline-block;
    transform: rotate(20deg);
}

#blue-film:hover {
    transform: rotate(-1deg);
    transition: all 0.5s ease-in-out;
}

.demo-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    width: 100%;
}

.demo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: linear-gradient(to bottom, #242424, var(--primary-color));
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
}

.demo-container img {
    width: 100%;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.about-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.about-header h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.10);
    margin-bottom: 5px;
}

.about-header p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.opening-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.opening-text h1 {
    font-family: var(--primary-font);
    font-size: 2rem;
}

.story-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 78%;
    padding: 30px;
}

.story-text p {
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

.bold {
    font-family: var(--primary-font);
    font-weight: 600;
}

.services-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.services-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.services-header h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.10);
    margin-bottom: 5px;
}

.services-header p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

.cards-container {
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.cards {
    background: linear-gradient(to bottom, #242424, var(--primary-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 430px;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
    transition: all 0.10s ease-in-out;
}

.cards:hover {
    background: linear-gradient(to top, #242424, var(--primary-color));
    transform: rotate(1deg);
}

.cards img {
    width: 300px;
    height: auto;
    margin-bottom: 25px;
}

.cards h1 {
    font-family: var(--primary-font);
    font-size: 2em;
    color: var(--white-color);
    margin-bottom: 15px;
}

.cards p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--white-color);
}

.faqs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.faqs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.faqs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.faqs-header h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.10);
    margin-bottom: 5px;
}

.faqs-header p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

.faqs-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--secondary-color);
    gap: 10px;
}

.faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faqs:hover {
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to left, #242424, var(--primary-color));
    width: 100%;
    border-radius: 10px;
    height: 55px;
    padding: 30px 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
}

.faq-question p {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
    color: var(--white-color);
}

.faq-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.faq-panel p {
    font-family: var(--primary-font);
    font-size: 1rem;
}

.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.contact-header h1 {
    font-family: var(--primary-font);
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.10);
    margin-bottom: 5px;
}

.contact-header p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    width: 60%;
    background: linear-gradient(to top, #242424, var(--primary-color));
    box-shadow: 0 2px 4px rgba(0,0,0,0.10), 0 6px 12px rgba(0,0,0,0.08), 0 1.5px 3px rgba(0,0,0,0.12);
}

.creator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.creator-container h1 {
    font-family: var(--primary-font);
    font-size: 1.8rem;
    color: var(--white-color);
    margin-bottom: 5px;
}

.creator-container p {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--secondary-color);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

.name-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.name-container label {
    font-family: var(--primary-font);
    font: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 5px;
}

.name-container input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}

.email-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.email-container label {
    font-family: var(--primary-font);
    font: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 5px;
}

.email-container input {
    width: 100%;
    height: 40px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.message-container label {
    font-family: var(--primary-font);
    font: 1.3rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 5px;
}

.message-container textarea {
    width: 100%;
    height: 220px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--secondary-color);
    resize: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}